<h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 20%">First Name</th>
        <th style="width: 20%">Last Name</th>
        <th style="width: 20%">Username</th>
        <th style="width: 20%">Create Date</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.createdDate | date: 'dd/MM/yyyy'}}</td>
        <td style="white-space: nowrap">
          <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">
            <i class="fa fa-pencil"></i>
          </a>
          <button (click)="openModal(template)" class="btn btn-sm btn-danger btn-delete-user">
            <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!user.isDeleting"><i class="fa fa-trash"></i></span>
          </button>
        </td>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Do you want to delete?</p>
            <button class="btn btn-danger mr-2" (click)="deleteUser(user.id)" [disabled]="user.isDeleting">Yes</button>
            <button class="btn btn-primary" (click)="decline()">No</button>
          </div>
        </ng-template>
      </tr>
      <tr *ngIf="!users">
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>